<footer>
    <div>
        <p class="copyright links">Copyright © 2017 BITNATION<span> | </span>All rights reserved</p>
    </div>
    <div>
        <a href='https://bitnation.co/' target="_blank">
            <img src="/img/footer.png" alt="bitnation.co">
        </a>
    </div>
    <div>
        <a href="mailto:info@bitnation.co">info@bitnation.co</a>
        <span> | </span>
        <a href="/terms-of-use">Terms of Use</a>
        <span> | </span>
        <a href="/privacy-policy">Privacy Policy</a>
    </div>
</footer>