<div id="nav-icon">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="navigation">
<ul>
<li>
                                    <a data-scroll="token-sale" href="#">PAT</a>
                                </li>
                                <li class="dropdown">
                                    <button>Whitepaper</button>                                        
                                    <div class="dropdown-content">
                                        <a href="https://github.com/Bit-Nation/Pangea-Docs/raw/master/BITNATION%20Pangea%20Whitepaper%202017.pdf" target="_blank">English</a>
                                        <a href="/ko/documents/whitepaper-2017-ko.pdf" target="_blank">한국어</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="/events/dipcon18">Dipcon|00</a>
                                </li>
                                <li class="dropdown">
                                    <button>Announcement</button>
                                    <div class="dropdown-content">
                                        <a href="/announcements/tse/">English</a>
                                        <a href="/announcements/tse/ar">العَرَبِيَّة</a>
                                        <a href="/announcements/tse/ca">Catalan</a>
                                        <a href="/announcements/tse/de">Deutsch</a>
                                        <a href="/announcements/tse/es">Español</a>
                                        <a href="/announcements/tse/fr">Français</a>
                                        <a href="/announcements/tse/ja">日本語</a>
                                        <a href="/announcements/tse/pt">Português</a>
                                        <a href="/announcements/tse/ru">Русский</a>
                                        <a href="/announcements/tse/zh">國語</a>
                                    </div>        
                                </li>
                            </ul>
                        </div>