    <div class="team-members">
        <div class="team-member">
            <img class="photo" src="/img/team/susanne-tarkowski-tempelhof.jpg">
            <h3>Susanne Tarkowski Tempelhof</h3>
            <span class="role">CEO</span>
            <div class="team-social-icons">
                <a href="https://www.linkedin.com/in/susannetarkowski/" target="_blank">
                    <i class="icon icon-xs linkedin"></i>
                </a>
                <a href="https://github.com/xsttx" target="_blank">
                    <i class="icon icon-xs github"></i>
                </a>
            </div>
        </div>
        <div class="team-member">
            <img class="photo" src="/img/team/james-fennell-tempelhof.jpg">                    
            <h3>James Fennell Tempelhof</h3>
            <span class="role">COO</span>
            <div class="team-social-icons">
                <a href="https://www.linkedin.com/in/james-fennell" target="_blank">
                    <i class="icon icon-small linkedin"></i>
                </a>
            </div>
        </div>
        <div class="team-member">
            <img class="photo" src="/img/team/dr-john-matthews.jpg">
            <h3>Dr. John Matthews</h3>
            <span class="role">CFO</span>
            <div class="team-social-icons">
                <a href="https://www.linkedin.com/in/johnmathews1/" target="_blank">
                    <i class="icon icon-small linkedin"></i>
                </a>
            </div>
        </div>
        <div class="team-member">
            <img class="photo" src="/img/team/eliott-tessionaire.jpg">
            <h3>Eliott Tessionaire</h3>
            <span class="role">Software Architect</span>
            <div class="team-social-icons">
                <a href="https://github.com/developpsoft/" target="_blank">
                    <i class="icon icon-small github"></i>
                </a>
                <a href="https://twitter.com/DeveloppSoft" target="_blank">
                    <i class="icon icon-small twitter"></i>
                </a>
            </div>
        </div>
        <div class="team-member">
            <img class="photo" src="/img/team/erik-vollstadt.jpg">
            <h3>Erik Vollstädt</h3>
            <span class="role">Lead Ambassador</span>
            <div class="team-social-icons">
                <a href="https://www.linkedin.com/in/erikvollstaedt/" target="_blank">
                    <i class="icon icon-small linkedin"></i>
                </a>
            </div>
        </div>
        <div class="team-member">
            <img class="photo" src="/img/team/florian-lenz.jpg">
            <h3>Florian Lenz</h3>
            <span class="role">Backend Developer</span>
            <div class="team-social-icons">
                <a href="https://github.com/florianlenz" target="_blank">
                    <i class="icon icon-small github"></i>
                </a>
            </div>
        </div>
        <div class="team-member">
            <img class="photo" src="/img/team/daniel-franca.jpg">
            <h3>Daniel França</h3>
            <span class="role">React Native Developer</span>
            <div class="team-social-icons">
                <a href="https://www.linkedin.com/in/danielcfranca/" target="_blank">
                    <i class="icon icon-small linkedin"></i>
                </a>
                <a href="https://github.com/danielfranca" target="_blank">
                    <i class="icon icon-small github"></i>
                </a>
                <a href="https://twitter.com/danielfranca" target="_blank">
                    <i class="icon icon-small twitter"></i>
                </a>
            </div>
        </div>
                
                
                <div class="team-member">
                    <img class="photo" src="/img/team/kent-dahlgren.jpg">
                    <h3>Kent Dahlgren</h3>
                    <span class="role">AI Developer</span>
                    <div class="team-social-icons">
                        <div>
                            <a href="https://www.linkedin.com/in/kent-dahlgren-gsec-742a073/" target="_blank">
                                <i class="icon icon-small linkedin"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/kent_dahlgren" target="_blank">
                                <i class="icon icon-small twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2_4">
                    <img class="photo" src="/img/team/mawo.jpg">
                    <h3>Mawo</h3>
                    <span class="role">Security</span>
                </div>
                <div class="col-2_4">
                    <img class="photo" src="/img/team/johan-nygren.jpg">
                    <h3>Johan Nygren</h3>
                    <span class="role">Resident Genius</span>
                    <div class="team-social-icons">
                        <div class="twitter">
                            <a href="https://twitter.com/resilience_me" target="_blank">
                                <i class="icon icon-small twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2_4">
                    <img class="photo" src="/img/team/sonja-prstec.jpg">
                    <h3>Sonja Prstec</h3>
                    <span class="role">Legal Advisor</span>
                    <div class="team-social-icons">
                        <div>
                            <a href="https://www.linkedin.com/in/sonja-prstec-89a0b324/" target="_blank">
                                <i class="icon icon-small linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2_4">
                    <img class="photo" src="/img/team/kenneth-lillieholm.jpg">
                    <h3>Kenneth Lillieholm</h3>
                    <span class="role">Documentation</span>
                </div>
                <div class="col-2_4">
                    <img class="photo" src="/img/team/joffy-mills.jpg">
                    <h3>Joffy Mills</h3>
                    <span class="role">Marketing & Communications</span>
                </div>
                <div class="col-2_4">
                    <img class="photo" src="/img/team/alma-sommer.jpg">
                    <h3>Alma Sommer</h3>
                    <span class="role">Social Media</span>
                    <div class="team-social-icons">
                        <div>
                            <a href="https://www.linkedin.com/in/rayneberry/" target="_blank">
                                <i class="icon icon-small linkedin"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/EarthPermit" target="_blank">
                                <i class="icon icon-small twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2_4">
                    <img class="photo" src="/img/team/bjorn-paulsson.jpg">
                    <h3>Björn Paulsson</h3>
                    <span class="role">Project Coordinator</span>
                    <div class="team-social-icons">
                        <div>
                            <a href="https://www.linkedin.com/in/bjornpaulsson/" target="_blank">
                                <i class="icon icon-small linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2_4">
                    <img class="photo" src="/img/team/adrian-pollio.jpg">
                    <h3>Adrian Pollio</h3>
                    <span class="role">Graphic Designer</span>
                    <div class="team-social-icons">
                        <div>
                            <a href="https://www.linkedin.com/in/adrianpollio/" target="_blank">
                                <i class="icon icon-small linkedin"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/adrianpollio" target="_blank">
                                <i class="icon icon-small twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2_4">
                    <img class="photo" src="/img/team/camilo-luna.jpg">
                    <h3>Camilo Luna</h3>
                    <span class="role">Web Developer</span>
                    <div class="team-social-icons">
                        <div>
                            <a href="https://www.linkedin.com/in/camiloluna/" target="_blank">
                                <i class="icon icon-small linkedin"></i>
                            </a>
                        </div>
                        <div class="github">
                            <a href="https://github.com/camilolunacom" target="_blank">
                                <i class="icon icon-small github"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/camilolunacom" target="_blank">
                                <i class="icon icon-small twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>Advisors</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-2_4"></div>
                <div class="col-2_4">
                    <img class="photo" src="/img/team/rick-falkvinge.jpg">
                    <h3>Rick Falkvinge</h3>
                    <div class="team-social-icons">
                        <div>
                            <a href="https://www.linkedin.com/in/rickfalkvinge/" target="_blank">
                                <i class="icon icon-small linkedin"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/Falkvinge" target="_blank">
                                <i class="icon icon-small twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2_4">
                    <img class="photo" src="/img/team/david-orban.jpg">
                    <h3>David Orban</h3>
                    <div class="team-social-icons">
                        <div>
                            <a href="https://www.linkedin.com/in/davidorban/" target="_blank">
                                <i class="icon icon-small linkedin"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/davidorban" target="_blank">
                                <i class="icon icon-small twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2_4">
                    <img class="photo" src="/img/team/vinay-gupta.jpg">
                    <h3>Vinay Gupta</h3>
                    <div class="team-social-icons">
                        <div>
                            <a href="https://www.linkedin.com/in/vinay-gupta-0072/" target="_blank">
                                <i class="icon icon-small linkedin"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/leashless" target="_blank">
                                <i class="icon icon-small twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2_4"></div>
            </div>
        </div>
